@page
@using Markdig
@model Work
@{
    ViewData["Title"] = $"{Model.GetAuthorName()}'s work";
}

<link rel="stylesheet" href="@Url.Content("~/css/markdown.css")">
<script src="js/scroll.js"></script>

<progress id="progress"
          class="fixed top-0 left-0 w-full h-1
         [&::-webkit-progress-bar]:bg-transparent
         [&::-webkit-progress-value]:bg-amber-500
         z-50"
          value="0" max="100">
</progress>

<div class="sm:m-10 sm:mt-2 sm:text-justify">
    <div class="w-full aspect-video rounded-2xl overflow-hidden mt-6 mb-4">
        <img
            src="@Model.GetMainImage()"
            alt="caption"
            class="w-full h-full object-cover"/>
    </div>

    <a class="sm:mb-2 sm:mt-4 text-4xl font-bold">@Model.GetTitle()</a> <br>

    @{
        var hasCollection = !string.IsNullOrWhiteSpace(Model.GetCollectionName());
    }
    <p class="mb-2 text-base sm:text-lg">
        <a href="#" class="text-gray-500 font-medium">@Model.GetAuthorName()</a>
        @if (hasCollection)
        {
            <span class="text-gray-500">,</span>
            <a href="#" class="text-gray-500 ml-1">@Model.GetCollectionName()</a>
        }
    </p>

    <article class="sm:mt-4 sm:mb-2 @(Model.IsOpen ? "" : "mask-b-from-65%")">
        <div class="prose my-article">
            @Html.Raw(Model.GetText())
        </div>
    </article>
</div>